body {
    background-image:
      url('https://wallpapercave.com/wp/wp5699293.png');
      background-size: auto 100vh;
      height: 100vh;
      font-family: Arial;
  }
  .menu{
    background-color: whitesmoke;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu li {
    list-style: none;
  
  }
  
  a {
    color: Black;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
    color: grey;
  }
  
  .site-subtitle,
  .site-title {
    text-align: Center;
    color: whitesmoke;
  }
  
  .site-subtitle {
    font-style: italic;
  
  }
  